.glyph .ant-btn {
    width: 12px !important;
    padding: 0;
    font-size: 6px !important;
    border-radius: 50%;
    height: 12px !important;
  }

text.icon{
  transition: transform 0.2s linear;
}