.axis .domain{
    stroke: rgb(204, 204, 204) !important;
}

.axis .tick line{
    stroke: rgb(204, 204, 204) !important;
}

.axisSelectionY .domain{
    stroke: rgb(204, 204, 204) !important;
}

.axisSelectionY .tick line{
    stroke: rgb(204, 204, 204) !important;
}

.selectThrLeft{
    position: relative !important;
    overflow: visible;
}

.selectThrRight{
    position: relative !important;
}

.selectThr{
    position: absolute;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#inputBoxRight, #inputBoxLeft{
    text-align: center;
    border-width: 0.1px;
    margin: 0; 
    width:24px;
    height:12px;
}

#switchOverview {
    -webkit-transition: transform 0.3s linear;
    transition: transform 0.3s linear;
}

#overviewSelection, #axisSelection{
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

svg.overview{
    font-size: 15px !important;
}

